
<!DOCTYPE html>
<html lang="en">
  <head>

    <title>Hordes Help</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">   

  </head>
  <body>
    <h2>
    HordesHelp
    </h2>
    <input type= "button" value= "load army" onclick= "saveLoad(this.value)"/>
    <input type= "button" value= "save army" onclick= "saveLoad(this.value)"/>
    <input type= "button" value= "delete saved army" onclick= "saveLoad(this.value)"/>
    <span id= "feedback"></span><br>
    <span id= "fetchedFromDB"></span>
    <br>
    <div id= "upperhalf">
      <p id= "chooseSetup"> <!-- LEFT SIDE -->
        <b>Choose army:</b> <br>
        <select name="factions" id= "factionSelector">
          <option value="cygnar">Cygnar</option>
          <option value="trollbloods">Trollbloods</option>
          <option value="khador">Khador</option>
          <option value="circle">Circle</option>
          <option value="retribution">Retribution</option>
          <option value="cryx">Cryx</option>
        </select><br>
        
        Select pointlimit:<br>
        <input id= "pointLimit" value= "50"/><br>
        <input type= "button" name= "submitSetup" value= "submit army and pointlimit" onclick= "submitSetup()"><br><br>
        Name of army: <input id= "nameOfArmy" type= "text"/> (Fill this if you want to save the army)<br>
        Password: <input id= "passwordField" type= "password"/> (Fill this if you want to save the army)<br>
        
        Points left: <span id= "pointsLeft"></span> Battlegroup points left: <span id= "bgPointsLeft"></span><br>
        <span id= "showArmy"></span>
        
      </p>
      <div id= "available"> <!-- RIGHT SIDE-->
        Units for this faction:
        <br><span id= "cardsHere"></span>
      </div>
    </div>
  
    </body>
    <script src="/cards.js"></script>
    <script src="/dataBaseCommands.js"></script>
    <script src="/client.js"></script>
</html>
